.campus-card-container{
    display: inline-block;
    height: 190px;
    width: 28%;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 4%;
    border: solid 1px rgb(203, 203, 203);
    border-radius: 18px;
}

.campus-card-image{
    width: 150px;
    height: 150px;
    margin: 2%;
    border-radius: 50%;
}

.campus-text-section{
    float: right;
    width: 62%;
    margin-top: 3%;
}

.campus-card-name{
    font-size: 28px;
}

.campus-card-num-of-students{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.campus-card-view-link{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.campus-card-view-button{
    width: 90px;
    height: 26px;
    border: none;
    border-radius: 25px;
    background-color: rgb(57, 161, 240);
    color: whitesmoke;
    font-size: 20px;
}

.campus-card-view-button:hover{
    background-color: rgb(30, 148, 238);
}

.campus-card-view-link-edit{
    margin-top: 20px;
    text-decoration: none;
}

.campus-card-view-button-edit{
    width: 84px;
    height: 26px;
    border: none;
    border-radius: 25px;
    background-color: rgb(145, 31, 222);
    color: whitesmoke;
    font-size: 20px;
}

.campus-card-view-button-edit:hover{
    background-color: rgb(126, 18, 198);
}

.campus-card-view-button-delete{
    margin-top: 20px;
    text-decoration: none;
    width: 90px;
    height: 26px;
    border: none;
    border-radius: 25px;
    background-color: rgb(215, 28, 28);
    color: whitesmoke;
    font-size: 20px;
}

.campus-card-view-button-delete:hover{
    background-color: rgb(191, 25, 25);
}

.campus-card-buttons{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}